@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Neuton|Playfair+Display');

body
{
	font-family: "Neuton", "Gentium Basic", serif;
	font-size: 110%;
	margin: 2em auto 8em auto;
	width: 40em;
}

h1
{
	font-family: "Playfair Display SC", "Neuton", serif;
	font-size: 150%;
	padding-top: 1em;
}

h2
{
	font-size: 125%;
	padding-top: 1em;
}

footer
{
	border-top: 1px solid black;
	margin-top: 3em;
	font-size: 0.9em;
}

a
{
	color: black;
}

.notes
{
	margin: 0.5em 0 0.5em 0;
	padding: 0.4em 0 0.5em 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#special
{
	font-family: "Playfair Display SC", "Neuton", serif;
}
